In [3]:
import pandas as pd
import numpy as np

In [4]:
path = r"ds1_laptops(1).csv"
df = pd.read_csv(path)
print(df.head(5))

   index   brand                                              Model  Price  \
0      1   tecno  Tecno Megabook T1 Laptop (11th Gen Core i3/ 8G...  23990
1      2   tecno  Tecno Megabook T1 Laptop (11th Gen Core i7/ 16...  35990
2      3      hp  HP Victus 15-fb0157AX Gaming Laptop (AMD Ryzen...  51100
3      4    acer  Acer Extensa EX214-53 Laptop (12th Gen Core i5...  39990
4      5  lenovo  Lenovo V15 82KDA01BIH Laptop (AMD Ryzen 3 5300...  28580

   Rating processor_brand processor_tier  num_cores  num_threads  ram_memory  \
0      63           intel        core i3          2            4           8
1      67           intel        core i7          4            8          16
2      73             amd        ryzen 5          6           12           8
3      62           intel        core i5         12           16           8
4      62             amd        ryzen 3          4            8           8

   ... secondary_storage_type  secondary_storage_capacity gpu_brand  \
0  ...   No secondary storage                           0     intel
1  ...   No secondary storage                           0     intel
2  ...   No secondary storage                           0       amd
3  ...   No secondary storage                           0     intel
4  ...   No secondary storage                           0       amd

     gpu_type is_touch_screen display_size  resolution_width  \
0  integrated           False         15.6              1920
1  integrated           False         15.6              1920
2   dedicated           False         15.6              1920
3  integrated           False         14.0              1920
4  integrated           False         15.6              1920

   resolution_height       OS  year_of_warranty
0               1080  windows                 1
1               1080  windows                 1
2               1080  windows                 1
3               1080  windows                 1
4               1080  windows                 1

[5 rows x 22 columns]

In [5]:
df.head(5)

,index,brand,Model,Price,Rating,processor_brand,processor_tier,num_cores,num_threads,ram_memory,...,secondary_storage_type,secondary_storage_capacity,gpu_brand,gpu_type,is_touch_screen,display_size,resolution_width,resolution_height,OS,year_of_warranty
0,1,tecno,Tecno Megabook T1 Laptop (11th Gen Core i3/ 8G...,23990,63,intel,core i3,2,4,8,...,No secondary storage,0,intel,integrated,False,15.6,1920,1080,windows,1
1,2,tecno,Tecno Megabook T1 Laptop (11th Gen Core i7/ 16...,35990,67,intel,core i7,4,8,16,...,No secondary storage,0,intel,integrated,False,15.6,1920,1080,windows,1
2,3,hp,HP Victus 15-fb0157AX Gaming Laptop (AMD Ryzen...,51100,73,amd,ryzen 5,6,12,8,...,No secondary storage,0,amd,dedicated,False,15.6,1920,1080,windows,1
3,4,acer,Acer Extensa EX214-53 Laptop (12th Gen Core i5...,39990,62,intel,core i5,12,16,8,...,No secondary storage,0,intel,integrated,False,14.0,1920,1080,windows,1
4,5,lenovo,Lenovo V15 82KDA01BIH Laptop (AMD Ryzen 3 5300...,28580,62,amd,ryzen 3,4,8,8,...,No secondary storage,0,amd,integrated,False,15.6,1920,1080,windows,1

In [6]:
df.isnull()

,index,brand,Model,Price,Rating,processor_brand,processor_tier,num_cores,num_threads,ram_memory,...,secondary_storage_type,secondary_storage_capacity,gpu_brand,gpu_type,is_touch_screen,display_size,resolution_width,resolution_height,OS,year_of_warranty
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
987,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
988,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
989,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
990,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 991 entries, 0 to 990
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       991 non-null    int64
 1   brand                       991 non-null    object
 2   Model                       991 non-null    object
 3   Price                       991 non-null    int64
 4   Rating                      991 non-null    int64
 5   processor_brand             991 non-null    object
 6   processor_tier              991 non-null    object
 7   num_cores                   991 non-null    int64
 8   num_threads                 991 non-null    int64
 9   ram_memory                  991 non-null    int64
 10  primary_storage_type        991 non-null    object
 11  primary_storage_capacity    991 non-null    int64
 12  secondary_storage_type      916 non-null    object
 13  secondary_storage_capacity  991 non-null    int64
 14  gpu_brand                   991 non-null    object
 15  gpu_type                    991 non-null    object
 16  is_touch_screen             991 non-null    bool
 17  display_size                991 non-null    float64
 18  resolution_width            991 non-null    int64
 19  resolution_height           991 non-null    int64
 20  OS                          991 non-null    object
 21  year_of_warranty            991 non-null    object
dtypes: bool(1), float64(1), int64(10), object(10)
memory usage: 163.7+ KB

In [8]:
df.describe()

,index,Price,Rating,num_cores,num_threads,ram_memory,primary_storage_capacity,secondary_storage_capacity,display_size,resolution_width,resolution_height
count,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000,991.000000
mean,505.860747,77266.504541,63.931382,8.128153,12.191726,13.047427,610.938446,4.004036,15.171241,2003.503532,1181.227043
std,287.899458,57384.910269,10.190575,4.215499,5.585115,5.591188,266.927666,33.553936,0.938089,361.965292,263.884019
min,1.000000,9800.000000,24.000000,2.000000,0.000000,2.000000,32.000000,0.000000,10.100000,1080.000000,768.000000
25%,258.500000,43595.000000,58.000000,6.000000,8.000000,8.000000,512.000000,0.000000,14.000000,1920.000000,1080.000000
50%,507.000000,61900.000000,64.000000,8.000000,12.000000,16.000000,512.000000,0.000000,15.600000,1920.000000,1080.000000
75%,754.500000,89245.000000,71.000000,10.000000,16.000000,16.000000,512.000000,0.000000,15.600000,1920.000000,1200.000000
max,1002.000000,454490.000000,89.000000,24.000000,32.000000,36.000000,2048.000000,512.000000,18.000000,3840.000000,2560.000000

In [9]:
df.shape

(991, 22)

In [10]:
df.size

21802

In [11]:
df.dtypes

index                           int64
brand                          object
Model                          object
Price                           int64
Rating                          int64
processor_brand                object
processor_tier                 object
num_cores                       int64
num_threads                     int64
ram_memory                      int64
primary_storage_type           object
primary_storage_capacity        int64
secondary_storage_type         object
secondary_storage_capacity      int64
gpu_brand                      object
gpu_type                       object
is_touch_screen                  bool
display_size                  float64
resolution_width                int64
resolution_height               int64
OS                             object
year_of_warranty               object
dtype: object

In [12]:
df.columns

Index(['index', 'brand', 'Model', 'Price', 'Rating', 'processor_brand',
       'processor_tier', 'num_cores', 'num_threads', 'ram_memory',
       'primary_storage_type', 'primary_storage_capacity',
       'secondary_storage_type', 'secondary_storage_capacity', 'gpu_brand',
       'gpu_type', 'is_touch_screen', 'display_size', 'resolution_width',
       'resolution_height', 'OS', 'year_of_warranty'],
      dtype='object')

In [13]:
df.isnull().sum()

index                          0
brand                          0
Model                          0
Price                          0
Rating                         0
processor_brand                0
processor_tier                 0
num_cores                      0
num_threads                    0
ram_memory                     0
primary_storage_type           0
primary_storage_capacity       0
secondary_storage_type        75
secondary_storage_capacity     0
gpu_brand                      0
gpu_type                       0
is_touch_screen                0
display_size                   0
resolution_width               0
resolution_height              0
OS                             0
year_of_warranty               0
dtype: int64

In [14]:
df['secondary_storage_type'] = pd.to_numeric(df['secondary_storage_type'], errors='coerce') #Changing the datatype to int to perform fillna()

In [15]:
df['secondary_storage_type'].fillna(df['secondary_storage_type'].mean(), inplace=True)

C:\Users\Saiashish\AppData\Local\Temp\ipykernel_31544\3474797006.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['secondary_storage_type'].fillna(df['secondary_storage_type'].mean(), inplace=True)

In [16]:
df.isnull().sum()

index                           0
brand                           0
Model                           0
Price                           0
Rating                          0
processor_brand                 0
processor_tier                  0
num_cores                       0
num_threads                     0
ram_memory                      0
primary_storage_type            0
primary_storage_capacity        0
secondary_storage_type        991
secondary_storage_capacity      0
gpu_brand                       0
gpu_type                        0
is_touch_screen                 0
display_size                    0
resolution_width                0
resolution_height               0
OS                              0
year_of_warranty                0
dtype: int64

In [17]:
df['secondary_storage_type'].fillna(0, inplace=True)

C:\Users\Saiashish\AppData\Local\Temp\ipykernel_31544\2199410792.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['secondary_storage_type'].fillna(0, inplace=True)

In [18]:
df.isnull().sum()

index                         0
brand                         0
Model                         0
Price                         0
Rating                        0
processor_brand               0
processor_tier                0
num_cores                     0
num_threads                   0
ram_memory                    0
primary_storage_type          0
primary_storage_capacity      0
secondary_storage_type        0
secondary_storage_capacity    0
gpu_brand                     0
gpu_type                      0
is_touch_screen               0
display_size                  0
resolution_width              0
resolution_height             0
OS                            0
year_of_warranty              0
dtype: int64

In [19]:
print(df.processor_brand)

0      intel
1      intel
2        amd
3      intel
4        amd
       ...
986      amd
987    intel
988      amd
989      amd
990    intel
Name: processor_brand, Length: 991, dtype: object

In [20]:
# Label encoding
from sklearn.preprocessing import LabelEncoder

label_obj = LabelEncoder()
df['processor_brand'] = label_obj.fit_transform(df['processor_brand'])

In [21]:
print(df.processor_brand)

0      2
1      2
2      0
3      2
4      0
      ..
986    0
987    2
988    0
989    0
990    2
Name: processor_brand, Length: 991, dtype: int32

In [22]:
print(df.ram_memory)

0       8
1      16
2       8
3       8
4       8
       ..
986    16
987    16
988     8
989    16
990     4
Name: ram_memory, Length: 991, dtype: int64

In [23]:
# One Hot Encoding 
df_encoded = pd.get_dummies(df, columns=['ram_memory'], prefix=['categorical'])

In [24]:
df_encoded

,index,brand,Model,Price,Rating,processor_brand,processor_tier,num_cores,num_threads,primary_storage_type,...,resolution_height,OS,year_of_warranty,categorical_2,categorical_4,categorical_8,categorical_12,categorical_16,categorical_32,categorical_36
0,1,tecno,Tecno Megabook T1 Laptop (11th Gen Core i3/ 8G...,23990,63,2,core i3,2,4,SSD,...,1080,windows,1,False,False,True,False,False,False,False
1,2,tecno,Tecno Megabook T1 Laptop (11th Gen Core i7/ 16...,35990,67,2,core i7,4,8,SSD,...,1080,windows,1,False,False,False,False,True,False,False
2,3,hp,HP Victus 15-fb0157AX Gaming Laptop (AMD Ryzen...,51100,73,0,ryzen 5,6,12,SSD,...,1080,windows,1,False,False,True,False,False,False,False
3,4,acer,Acer Extensa EX214-53 Laptop (12th Gen Core i5...,39990,62,2,core i5,12,16,SSD,...,1080,windows,1,False,False,True,False,False,False,False
4,5,lenovo,Lenovo V15 82KDA01BIH Laptop (AMD Ryzen 3 5300...,28580,62,0,ryzen 3,4,8,SSD,...,1080,windows,1,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,998,asus,Asus Vivobook Pro 15 M6500QC-HN542WS Laptop (R...,65990,68,0,ryzen 5,6,12,SSD,...,1080,windows,1,False,False,False,False,True,False,False
987,999,msi,MSI Thin GF63 12VE-070IN Gaming Laptop (12th G...,91990,73,2,core i7,10,16,SSD,...,1080,windows,2,False,False,False,False,True,False,False
988,1000,asus,Asus Vivobook Go 15 2023 E1504FA-NJ522WS Lapto...,44990,59,0,ryzen 5,4,8,SSD,...,1080,windows,1,False,False,True,False,False,False,False
989,1001,asus,Asus Zenbook 14 2023 UM3402YA-KP541WS Laptop (...,67990,68,0,ryzen 5,6,12,SSD,...,1600,windows,1,False,False,False,False,True,False,False
990,1002,hp,HP Chromebook 15a-na0008TU Laptop (Intel Celer...,20990,37,2,celeron,2,2,HDD,...,768,chrome,1,False,True,False,False,False,False,False